@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base{
  h1,h2,h3,h4{
    @apply font-bold
  }

  h1{
    @apply text-4xl;
  }
  h2{
    @apply text-3xl
  }
  h3{
    @apply text-2xl
  }
  h4{
    @apply text-xl
  }
  p{
    @apply text-sm text-default-text
  }

  form{
    @apply rounded-xl p-4
  }

  label {
    @apply mt-4
  }

  input, select, textarea{
    @apply m-1 rounded bg-card p-1
  }

  input[type="radio"]:not(:first-of-type){
    @apply ml-5;

  }

}




@layer components {
  .icon {
    @apply text-default-text text-xl
  }
  .btn{
    @apply hover:no-underline bg-blue-accent hover:bg-blue-accent-hover tracking-wider w-full text-center text-nav font-bold cursor-pointer uppercase p-4 rounded-md transition-colors block
  }
}